<!DOCTYPE html>
<html lang="en" ng-app="asterion" ng-controller="globalController">
<head>
	<meta charset="UTF-8">
	<title ng-bind-template="{{titleLine}}">Asterion</title>

	<link rel="stylesheet" href="/asterion.css">
	<link rel="icon" type="image/x-icon" href="/asterion-icon.gif">

	<script src="/asterion.js"></script>

</head>
<body>
	<header>
		
		<a href="/#/" class="masthead" tabindex="1" ng-click="searchTerm = ''">
			<i class="fa fa-bookmark"></i>
		</a>

		<nav tabindex="2">
			<i class="fa fa-bars"></i> Menu
			<ul class="hover-menu">
				<li ng-repeat="option in menuSearch" ng-class="{active: option.slug == pageSlug}">
					<a href="/#/{{option.slug}}" ng-click="searchTerm = ''">{{option.name}}</a>
				</li>
				<li class="divider"></li>
				<li ng-repeat="option in menuOrders" ng-class="{active: option.slug == pageSlug}">
					<a href="/#/{{option.slug}}" ng-click="searchTerm = ''">{{option.name}}</a>
				</li>
			</ul>
		</nav>

		<div class="user" tabindex="5">
			<i class="fa fa-user"></i>
			<ul class="hover-menu">
				<li ng-repeat="option in menuUser" ng-class="{active: option.slug == pageSlug, sub: option.sub}">
					<a ng-show="option.slug" href="/#/{{option.slug}}" ng-click="searchTerm = ''">{{option.name}}</a>
					<a ng-show="option.sub">{{option.name}}</a>
					<ul class="hover-menu-sub">
						<li ng-repeat="tongue in option.sub" ng-class="{active: tongue.code == currentLang}">
							<a href="" ng-click="changeLang(tongue.code)">{{tongue.name}}</a>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>

		<div class="carts" ng-controller="drawerController" ng-class="{active: drawerPin == true}">
			<div class="cart-click" ng-click="drawerPin ? drawerPin = false : drawerPin = true" tabindex="4">
				<span class="cart-title" title="{{activeCart.title}}">{{activeCart.title}}</span>
				<span class="cart-quantity">
					<i class="fa fa-shopping-cart"></i> {{activeCart.quantity}}
				</span>
				<span class="cart-price">
					<i class="fa fa-credit-card"></i> {{activeCart.price}} EUR
				</span>
			</div>

			<div class="drawer" ng-class="{pinned: drawerPin == true}">
					<div class="drawer-close" ng-click="drawerPin = false"><i class="fa fa-angle-double-right"></i></div>
					<div class="drawer-menu">
						<a href="" ng-repeat="option in drawerMenu" ng-class="{active: drawerActive == option}" ng-click="gotoDrawer(option)">{{option.name}}</a>
					</div>
					<div class="drawer-content" ng-include="drawerActive.url"></div>
			</div>
		</div>
		
		<form class="search" ng-submit="quickSearch(searchTerm)">
			<label for="search"><i class="fa fa-search"></i></label>
			<input type="text" id="search" placeholder="Search by title, author, ISBN..." autocomplete="off" ng-model="searchTerm" tabindex="3">
			<a href="" ng-show="searchTerm" ng-click="searchTerm = ''" class="fa fa-remove" title="Clear search"></a>
		</form>

	</header>

	<div class="subheader" tabindex="6">
		<h1>{{pageTitle}}</h1>
		<span>{{pageSubtitle}}</span>
	</div>
	
	<div ng-view></div>

	<footer>
		Footer
	</footer>
</body>
</html>