<!DOCTYPE html>
<html lang="en" ng-app="asterion" ng-controller="globalController">
<head>
	<meta charset="UTF-8">
	<title ng-bind-template="{{titleLine}}">Asterion</title>
	
	<link rel="icon" type="image/gif" href="favicon.gif">
	<link rel="stylesheet" href="asterion.css" />
	<script src="asterion.js"></script>
</head>
<body>
	<header>
		
		<a href="/#/" class="masthead" tabindex="1" ng-click="searchTerm = ''">
			<i class="fa fa-bookmark"></i>
		</a>

		<nav tabindex="2" ng-class="{active: menuEntered == true}" ng-keypress="menuEnter($event, menuEntered)" id="menu-top">
			<i class="fa fa-bars"></i> Menu
			<ul class="hover-menu" ng-click="searchTerm = ''">
				<li ng-repeat="option in menuSearch" ng-class="{active: option.slug == pageSlug}">
					<a href="/#/{{option.slug}}" id="menu-{{$index}}" ng-keypress="menuNav($event, $index)">{{option.name}}</a>
				</li>
				<li class="divider"></li>
				<li ng-repeat="option in menuOrders" ng-class="{active: option.slug == pageSlug}">
					<a href="/#/{{option.slug}}" id="menu-{{menuSearch.length + $index}}" ng-keypress="menuNav($event, menuSearch.length + $index)">{{option.name}}</a>
				</li>
			</ul>
		</nav>

		<div class="user" tabindex="5" ng-class="{active: userEntered == true}" ng-keypress="userEnter($event, userEntered)" id="menu-top">
			<i class="fa fa-user"></i>
			<ul class="hover-menu" ng-click="searchTerm = ''">
				<li ng-repeat="option in menuUser" ng-class="{active: option.slug == pageSlug, sub: option.sub}">
					<a ng-show="option.slug" id="user-{{$index}}" href="/#/{{option.slug}}" ng-click="searchTerm = ''">{{option.name}}</a>
					<a ng-show="option.sub" id="user-{{$index}}">{{option.name}}</a>
					<ul class="hover-menu-sub">
						<li ng-repeat="tongue in option.sub" ng-class="{active: tongue.code == currentLang}">
							<a href="" ng-click="changeLang(tongue.code)">{{tongue.name}}</a>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
				<li><a href="/logout" id="user-{{menuUser.length}}">Logout</a></li>
			</ul>
		</div>

		<div class="carts" ng-controller="drawerController" ng-class="{active: drawerPin == true}">
			<div class="cart-loading" ng-show="loadingActiveCart == true">
				<i class="fa fa-refresh fa-spin"></i>
			</div>

			<div class="cart-click no-carts" ng-click="drawerToggle(drawerPin)" tabindex="4" ng-show="loadingActiveCart == false && cartList.length < 1">
				<strong>No shopping carts</strong>
			</div>	

			<div class="cart-click" ng-click="drawerToggle(drawerPin)" ng-keypress="drawerKeypress($event, drawerPin)" tabindex="4" ng-show="loadingActiveCart == false && cartList.length > 0">
				<span class="cart-title" title="{{activeCart.title}}">{{activeCart.title}}</span>
				<span class="cart-quantity">
					<i class="fa fa-shopping-cart"></i> {{activeCart.quantity}}
				</span>
				<span class="cart-price">
					<i class="fa fa-credit-card"></i> {{activeCart.price | currency: ''}} EUR
				</span>
			</div>

			<div class="drawer" ng-class="{pinned: drawerPin == true}">
				<div class="drawer-close" ng-click="drawerToggle(drawerPin)" ng-show="cartList.length > 0">
					<i class="fa fa-angle-double-right"></i>
				</div>
				<div class="drawer-menu" ng-show="cartList.length > 0">
					<a href="" ng-repeat="option in drawerMenu" ng-class="{active: drawerActive == option}" ng-click="gotoDrawer(option)">{{option.name}}</a>
				</div>

				<div class="drawer-content" ng-include="drawerActive.url" ng-show="cartList.length > 0"></div>

				<form class="drawer-empty" ng-show="cartList.length < 1" ng-submit="createCartEmpty()">
					<input type="text" id="cart-name-empty" ng-model="cartNameEmpty" placeholder="New shopping cart name" required="required">
					<button type="submit" class="dark">Create</button>
				</form>
			</div>
		</div>
		
		<form class="search" ng-submit="quickSearch(searchTerm)" ng-click="clickSearch()" ng-class="{active: hassleSearch == true }">
			<label for="search"><i class="fa fa-search"></i></label>
			<input type="text" id="search" placeholder="Search by title, author, ISBN..." autocomplete="off" ng-model="searchTerm" tabindex="3" ng-focus="hassleSearch = true" ng-blur="hassleSearch = false">
			<a href="" ng-show="searchTerm" ng-click="searchTerm = ''" class="fa fa-remove" title="Clear search"></a>
		</form>

	</header>

	<div class="container" ng-class="{pinned: drawerPin == true}">
		
		<div class="subheader" tabindex="6">
			<h1>{{pageTitle}}</h1>
			<span>{{pageSubtitle}}</span>
		</div>
		
		<div ng-view></div>

		<footer>
			Footer
		</footer>
	
	</div>
</body>
</html>