<div class="selection-quantity">
	<i class="fa fa-check-square-o"></i>
	{{user.select.books.length}}
</div>

<ul class="selection-options">
	<li ng-hide="user.select.page == 'cart'">

		<button type="button" class="cart" ng-click="addSelectionToCart(user.select.selection, user.cart)" ng-hide="addingSelectionToCart == true || addedSelectionToCart == true">
			Add to cart
			</button>
		<button type="button" class="more" ng-focus="selectionCartsToggle(true)" ng-blur="selectionCartsToggle(false)" ng-hide="addingSelectionToCart == true || addedSelectionToCart == true">
			<i class="fa fa-caret-up"></i>
		</button>

		<span class="indicator" ng-show="selectionCarts == true"></span>
		<ul class="carts-list" ng-show="selectionCarts == true">
			<li ng-repeat="cart in cartList">
				<a href="" title="{{cart.title}}" ng-click="addSelectionToCart(user.select.selection, cart._id)">
					<div class="cart-title">{{cart.title}}</div>
					<div class="cart-meta">	
						<i class="fa fa-shopping-cart"></i> {{cart.quantity}}
						<i class="fa fa-credit-card"></i> {{cart.price | currency: ''}} EUR
					</div>
				</a>
			</li>
		</ul>
		
		<button class="solo" ng-show="addingSelectionToCart == true">
			<i class="fa fa-refresh fa-spin"></i> Adding
		</button>
		<button class="solo" ng-show="addedSelectionToCart == true">
			<i class="fa fa-check"></i> Added to cart
		</button>
	</li>

	<li ng-show="user.select.page == 'cart'">
		<button type="button" ng-click="removeSelectionFromCart(user.select.books)">Remove from cart</button>
	</li>

	<li class="selection-actions">
		<a href="">
			<i class="fa fa-bars"></i>
			Options
		</a>

		<ul class="selection-hover">
			<li><a href="">E-mail</a></li>
			<li><a href="">Print</a></li>
			<li class="divider"></li>			
			<li><a href="">Save as PDF</a></li>
			<li><a href="">Save as CSV</a></li>
			<li><a href="">Save as MARC21</a></li>
		</ul>
	</li>
	<li>
		<a href="" ng-click="initSelection()" class="selection-clear" title="Clear selection">
			<i class="fa fa-remove"></i>
		</a>
	</li>
</ul>