<div ng-controller="drawerContents">
	<div class="drawer-container">
		<div class="drawer-header drawer-cart">
			<a href="/#/cart/{{activeCart.slug}}/{{activeCart._id}}" class="title" ng-click="drawerToggle(drawerPin)">{{activeCart.title}}</a>
			<div class="price" ng-show="activeCart.price > 0">
				<strong>{{activeCart.price | currency: ''}}</strong> EUR
			</div>
			<div class="price zero" ng-show="activeCart.price == 0">
				No price
			</div>

			<dl class="meta">
				<dt>Items:</dt>
				<dd ng-show="activeCart.quantity > 0">{{activeCart.quantity}}</dd>
				<dd ng-show="activeCart.quantity < 1">Empty</dd>
				<dt>Account:</dt>
				<dd>University of Nonsense, Department of Trouble (22222)</dd>
				<dt>Created:</dt>
				<dd><em>{{activeCart.owner.name.first}} {{activeCart.owner.name.last}}</em> (<time datetime="{{activeCart.created}}">{{fromNow(activeCart.created)}}</time>)</dd>
				<dt ng-show="activeCart.editor">Modified:</dt>
				<dd ng-show="activeCart.editor"><em>{{activeCart.editor.name.first}} {{activeCart.editor.name.last}}</em> (<time datetime="{{activeCart.edited}}">{{fromNow(activeCart.edited)}}</time>)</dd>
			</dl>

			<div class="links">
				<a href="/#/cart/{{activeCart.slug}}/{{activeCart._id}}" ng-click="drawerToggle(drawerPin)">More information</a>
				<a href="" ng-click="renameCart()">Rename</a>
				<a href="" ng-click="removeCart()">Remove</a>
			</div>
		</div>

		<ul class="drawer-list">
			<li class="drawer-item" ng-repeat="item in activeCart.books | orderBy: '-added'" ng-class="{remove: removingBook == item._id}">
			
				<a href="/#/detail/{{item.book.slug}}/{{item.book._id}}" class="detail" ng-click="drawerToggle(drawerPin); gotoDetail($index)">	
					<img src="http://www.erasmusbooks.nl/main/tools/Scale.aspx?size=1&PR={{item.book.isbn}}" alt="{{item.book.title}}">
					<span>{{item.book.title}}</span>
				</a>

				<div class="price" ng-show="item.book.price > 0">
					<strong>{{(item.book.price * item.quantity) | currency: ''}}</strong> EUR
					<small ng-show="item.quantity > 1">({{item.quantity}} &times; <strong>{{item.book.price | currency: ''}}</strong> EUR)</small>
				</div>
				<div class="price zero" ng-show="item.book.price == 0">
					Price unknown
				</div>
				<div class="quantity">
					<label for="quantity">Qty: </label>
					<input id="quantity" type="text" ng-model="item.quantity" ng-change="updateCart()" autocomplete="off" maxlength="3">
				</div>

				<dl class="meta">
					<dt>Author:</dt>
					<dd>{{item.book.author}}</dd>
					<dt>ISBN:</dt>
					<dd>{{item.book.isbn || ' '}}</dd>
					<dt>Added:</dt>
					<dd>{{item.user.name.first}} {{item.user.name.last}} (<time datetime="{{item.added}}">{{fromNow(item.added)}}</time>)</dd>
				</dl>

				<div class="links">
					<a href="/#/detail/{{item.book.slug}}/{{item.book._id}}" ng-click="drawerToggle(drawerPin); gotoDetail($index)">More information</a>
					<a href="" ng-click="removeBook(item)">Remove</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="drawer-bottom">
		<a href="" class="contents-link">Go to shopping cart</a>
	</div>
</div>