<div ng-controller="drawerContents">
	<div class="drawer-header drawer-cart">
		<a href="" class="title">{{activeCart.title}}</a>
		<div class="price">
			<strong>{{activeCart.price}}</strong> EUR
		</div>

		<dl class="meta">
			<dt>Items:</dt>
			<dd ng-show="activeCart.quantity > 0">{{activeCart.quantity}}</dd>
			<dd ng-show="activeCart.quantity < 1">Empty</dd>
			<dt>Account:</dt>
			<dd>University of Nonsense, Department of Trouble (22222)</dd>
			<dt>Created:</dt>
			<dd>{{activeCart.owner.name.first}} {{activeCart.owner.name.last}} ({{fromNow(activeCart.created)}})</dd>
			<dt ng-show="activeCart.editor">Modified:</dt>
			<dd ng-show="activeCart.editor">{{activeCart.editor.name.first}} {{activeCart.editor.name.last}} ({{fromNow(activeCart.edited)}})</dd>
		</dl>
	</div>

	<ul class="drawer-list">
		<li class="drawer-item" ng-repeat="item in activeCart.books | orderBy: '-added'">
			<img src="http://www.erasmusbooks.nl/main/tools/Scale.aspx?size=1&PR={{item.book.isbn}}" alt="{{item.book.title}}">
			
			<div class="title">{{item.book.title}}</div>

			<div class="price"><strong>{{item.book.price * item.quantity}}</strong> EUR</div>
			<div class="quantity">
				<label for="quantity">Qty: </label>
				<input id="quantity" type="text" ng-model="item.quantity">
			</div>

			<dl class="meta">
				<dt>Author:</dt>
				<dd>{{item.book.author}}</dd>
				<dt>ISBN:</dt>
				<dd>{{item.book.isbn || ' '}}</dd>
				<dt>Added:</dt>
				<dd>{{item.user.name.first}} {{item.user.name.last}} ({{fromNow(item.added)}})</dd>
			</dl>

			<div class="links">
				<a href="">More information</a>
				<a href="">Remove</a>
			</div>
		</li>
	</ul>

	<div class="drawer-bottom">
		<a href="" class="contents-link">Go to shopping cart</a>
	</div>
</div>