<div id="main" class="left" style="width: 70%" ng-class="{selected: user.select.books.length > 0 && cartLoading == false}">

	<div ng-show="cartLoading == true" class="loading">
		<i class="fa fa-refresh fa-spin"></i>
	</div>

	<div ng-show="cart.books.length == 0" class="kong">
		This shopping cart is empty
	</div>
	
	<div ng-show="cartLoading == false" ng-repeat="result in cart.books | orderBy: '-added'" class="result" ng-class="{remove: removingBook.indexOf(result._id) > -1, selected: user.select.source == cart._id && user.select.books.indexOf(result.book._id) > -1}">
		<label class="result-select" for="{{result.book._id}}"></label>
		<input type="checkbox" id="{{result.book._id}}" ng-click="selectTitle(result.book, 'cart', cart._id)" ng-checked="user.select.source == cart._id && user.select.books.indexOf(result.book._id) > -1">
		
		<a href="/#/detail/{{result.book.slug}}/{{result.book._id}}" class="result-detail" ng-click="gotoDetail($index)">
			<img src="http://www.erasmusbooks.nl/main/tools/Scale.aspx?size=1&PR={{result.book.isbn}}" alt="{{result.book.title}}">
			<div class="result-title">{{result.book.title}}</div>
		</a>
		<div class="result-subheader">
			<span ng-show="result.book.author">{{result.book.author}}</span>
			<span class="result-divider" ng-show="result.book.author && result.book.date"> &mdash;</span>
			<time class="result-date">{{result.book.date}}</time>
		</div>
	
		<dl class="result-meta">
			<dt>Publisher:</dt>
			<dd> 
				<span ng-show="result.book.publisher">{{result.book.publisher}}</span><span ng-show="result.book.publisher && result.book.place">,</span>
				<span ng-show="result.book.place">{{result.book.place}}</span><span ng-show="result.book.place && result.book.country">,</span>
				<span>{{result.book.country}}</span>
			</dd>
			<dt>ISBN:</dt>
			<dd>{{result.book.isbn || '&nbsp;'}}</dd>
			<dt>Product type:</dt>
			<dd>{{result.book.group}}<span ng-show="result.book.pages > 0">, {{result.book.pages}} pages</span></dd>
			<dt>Price:</dt>
			<dd>
				<span class="result-price" ng-show="result.book.price > 0">
					<strong>{{result.book.price * result.quantity | currency: ''}}</strong> EUR
					<small ng-show="result.quantity > 1">({{result.quantity}} &times; <strong>{{result.book.price | currency: ''}}</strong> EUR)</small>
				</span>
				<span class="result-price unknown" ng-show="result.book.price <= 0">Price unknown</span>
				<span class="result-availability">
					&mdash;
					<i class="available"></i> {{result.book.status}}
				</span>
			</dd>
		</dl>
	
		<dl class="result-refs">
			<dt ng-class="{editing: editingRef.ref == 'reference' && editingRef.id == result._id}">Reference:</dt>
			<dd ng-class="{empty: !result.reference || result.instructions.length < 1, editing: editingRef.ref == 'reference' && editingRef.id == result._id}">
				<span ng-click="editRef(result._id, 'reference')">{{result.reference || 'Empty'}}</span>
				<input type="text" ng-model="result.reference" ng-blur="editingRefBlur()" id="reference-{{result._id}}" ng-keypress="editingRefKeypress($event)" ng-change="updateCart()">
				<i class="fa fa-remove"></i>
				<a href="" ng-click="editRef(result._id, 'reference')">Edit</a>
			</dd>
			<dt ng-class="{editing: editingRef.ref == 'department' && editingRef.id == result._id}">Department:</dt>
			<dd ng-class="{empty: !result.department || result.instructions.length < 1, editing: editingRef.ref == 'department' && editingRef.id == result._id}">
				<span ng-click="editRef(result._id, 'department')">{{result.department || 'Empty'}}</span>
				<input type="text" ng-model="result.department" ng-blur="editingRefBlur()" id="department-{{result._id}}" ng-keypress="editingRefKeypress($event)" ng-change="updateCart()">
				<i class="fa fa-remove"></i>
				<a href="" ng-click="editRef(result._id, 'department')">Edit</a>
			</dd>
			<dt ng-class="{editing: editingRef.ref == 'budget' && editingRef.id == result._id}">Budget:</dt>
			<dd ng-class="{empty: !result.budget || result.instructions.length < 1, editing: editingRef.ref == 'budget' && editingRef.id == result._id}">
				<span ng-click="editRef(result._id, 'budget')">{{result.budget || 'Empty'}}</span>
				<input type="text" ng-model="result.budget" ng-blur="editingRefBlur()" id="budget-{{result._id}}" ng-keypress="editingRefKeypress($event)" ng-change="updateCart()">
				<i class="fa fa-remove"></i>
				<a href="" ng-click="editRef(result._id, 'budget')">Edit</a>
			</dd>
			<dt ng-class="{editing: editingRef.ref == 'instructions' && editingRef.id == result._id}">Instructions:</dt>
			<dd ng-class="{empty: !result.instructions || result.instructions.length < 1, editing: editingRef.ref == 'instructions' && editingRef.id == result._id}">
				<span ng-click="editRef(result._id, 'instructions')">{{result.instructions || 'Empty'}}</span>
				<input type="text" ng-model="result.instructions" ng-blur="editingRefBlur()" id="instructions-{{result._id}}" ng-keypress="editingRefKeypress($event)" ng-change="updateCart()">
				<i class="fa fa-remove"></i>
				<a href="" ng-click="editRef(result._id, 'instructions')">Edit</a>
			</dd>
			<dt>Added:</dt>
			<dd>{{result.user.name.first}} {{result.user.name.last}} <time datetime="{{result.added}}">{{fromNow(result.added)}}</time></dd>
		</dl>
		
		<div class="result-sidebar">
			<div class="result-quantity">
				Qty: <input type="text" ng-model="result.quantity" maxlength="3" ng-change="updateCart()">
			</div>
	
			<ul class="result-links">
				<li><a href="/#/detail/{{result.book.slug}}/{{result.book._id}}" ng-click="gotoDetail($index)">More information</a></li>
				<li><a href="" ng-click="removeBook(result)">Remove</a></li>
			</ul>
		</div>
	</div>

</div>

<aside class="sticky right" style="width: 30%">
	<div class="buttons">
		<button class="reset" ng-click="quoteCart()" ng-class="{success: quotedCart == true}">
			<span ng-hide="quotingCart == true || quotedCart == true">Price quote</span>
			<span ng-show="quotingCart == true"><i class="fa fa-refresh fa-spin"></i> Sending</span>
			<span ng-show="quotedCart == true"><i class="fa fa-check"></i> Request sent</span>
		</button>

		<button class="submit" ng-click="orderCart()" ng-class="{success: orderedCart == true}">
			<span ng-hide="orderingCart == true || orderedCart == true">Place order</span>
			<span ng-show="orderingCart == true"><i class="fa fa-refresh fa-spin"></i> Ordering</span>
			<span ng-show="orderedCart == true"><i class="fa fa-check"></i> Ordered</span>
		</button>
	</div>

	<dl class="detail-list">
		<dt class="total">Total:</dt>
		<dd class="total"><strong>{{cart.price | currency: ''}}</strong> EUR</dd>
		<dt>Quantity:</dt>
		<dd>{{cart.quantity}} <span class="sidenote" ng-show="cart.quantity != cart.books.length">/ {{cart.books.length}} titles</span></dd>
		<dt>Name:</dt>
		<dd>{{cart.title}}</dd>
		<dt>Created:</dt>
		<dd>{{cart.owner.name.first}} {{cart.owner.name.last}} <time datetime="{{cart.created}}">{{fromNow(cart.created)}}</time></dd>
		<dt ng-show="cart.editor">Modified:</dt>
		<dd ng-show="cart.editor">{{cart.editor.name.first}} {{cart.editor.name.last}} <time datetime="{{cart.edited}}">{{fromNow(cart.edited)}}</time></dd>

	</dl>
	<div class="functions">
		<a href="" ng-click="removeCart()">Remove</a>
		<a href="" ng-show="cart._id != activeCart._id" ng-click="activateCart()">Activate</a>
		<span class="dropdown">
			<a href="">More&hellip;</a>
			<ul>
				<li><a href="" ng-click="selectCart()">Select all</a></li>
				<li><a href="" ng-click="renameCart()">Rename</a></li>
				<li class="divider"></li>
				<li><a href="">Print</a></li>
				<li><a href="">E-mail</a></li>
				<li class="divider"></li>
				<li><a href="">Save as PDF</a></li>
				<li><a href="">Save as CSV</a></li>
				<li><a href="">Save as MARC21</a></li>
			</ul>
		</span>
	</div>

	<div class="accounts">
		<h3>Account </h3>
		<div class="content">
			WOODLAND MEDIA / IBS (Air Link) <small>22222</small><br>
			Attn.: Erasmus, Amsterdam <br>
			5 Logistics Drive <br>
			Doors 50-55 <br>
			Kearny, NJ 07032, USA<br>
		</div>
	</div>
	<div class="functions">
		<a href="" ng-click="changeAccount()">Change</a>
		<a href="">Account management</a>
	</div>

	<div class="references">
		<h3>References</h3>
		<dl class="detail-list">
			<dt ng-class="{active: activeAllRefs == 'reference'}">Reference:</dt>
			<dd>
				<span ng-class="{empty: allRefs.reference.length < 1}" ng-show="activeAllRefs != 'reference'" ng-click="activateAllRef('reference')">{{allRefs.reference || 'Empty'}}</span>
				<input type="text" ng-model="allRefs.reference" ng-show="activeAllRefs == 'reference'" ng-blur="blurAllRefs()" id="allref-reference">
				<i class="fa fa-remove" ng-show="activeAllRefs == 'reference'"></i>
				<a href="" ng-show="activeAllRefs != 'reference'" ng-click="activateAllRef('reference')">Edit</a>
			</dd>
			<dt ng-class="{active: activeAllRefs == 'department'}">Department:</dt>
			<dd>
				<span ng-class="{empty: allRefs.department.length < 1}" ng-show="activeAllRefs != 'department'" ng-click="activateAllRef('department')">{{allRefs.department || 'Empty'}}</span>
				<input type="text" ng-model="allRefs.department" ng-show="activeAllRefs == 'department'" ng-blur="blurAllRefs()" id="allref-department">
				<i class="fa fa-remove" ng-show="activeAllRefs == 'department'"></i>
				<a href="" ng-show="activeAllRefs != 'department'" ng-click="activateAllRef('department')">Edit</a>
			</dd>
			<dt ng-class="{active: activeAllRefs == 'budget'}">Budget:</dt>
			<dd>
				<span ng-class="{empty: allRefs.budget.length < 1}" ng-show="activeAllRefs != 'budget'" ng-click="activateAllRef('budget')">{{allRefs.budget || 'Empty'}}</span>
				<input type="text" ng-model="allRefs.budget" ng-show="activeAllRefs == 'budget'" ng-blur="blurAllRefs()" id="allref-budget">
				<i class="fa fa-remove" ng-show="activeAllRefs == 'budget'"></i>
				<a href="" ng-show="activeAllRefs != 'budget'" ng-click="activateAllRef('budget')">Edit</a>
			</dd>
			<dt ng-class="{active: activeAllRefs == 'instructions'}">Instructions:</dt>
			<dd>
				<span ng-class="{empty: allRefs.instructions.length < 1}" ng-show="activeAllRefs != 'instructions'" ng-click="activateAllRef('instructions')">{{allRefs.instructions || 'Empty'}}</span>
				<input type="text" ng-model="allRefs.instructions" ng-show="activeAllRefs == 'instructions'" ng-blur="blurAllRefs()" id="allref-instructions">
				<i class="fa fa-remove" ng-show="activeAllRefs == 'instructions'"></i>
				<a href="" ng-show="activeAllRefs != 'instructions'" ng-click="activateAllRef('instructions')">Edit</a>
			</dd>
		</dl>
	</div>
	<div class="functions">
		<a href="" ng-click="applyAllRefs(cart)">Apply to all</a>
		<a href="" ng-click="removeAllRefs()">Remove all</a>
		<a href="" ng-click="initAllRefs()">Clear</a>
	</div>
</aside>


<div class="selection" ng-controller="selectionController" ng-class="{active: user.select.books.length > 0 && user.select.source == cart._id}" ng-include="selectUrl">
</div>