.kong {
	font-size: 3em;
	color: @vague;
	text-align: center;
	padding: 4em 0 10em;
}

.loading {
	font-size: 3em;
	color: @line;
	text-align: center;
	padding: 2em 0;	
}

.message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 1.2em;
	font-weight: bold;
	padding: .4em 0;
	text-align: center;
	background-color: @danger;
	color: @back;
	border-bottom: 2px solid @danger;
}

.dropdown	 { 
	position: relative; 
	cursor: pointer; 

	ul { 
		display: none; 
		position: absolute; 
		list-style-type: none;  
		width: 12em; 
		top: 1em; 
		left: 50%; 
		margin-left: -6em; 
		padding: 1em; 
		z-index: 999;
		
		li { 
			background-color: @back; 
			border-width: 0 1px; 
			border-style: solid; 
			border-color: @vague; 

			&:first-child {
				border-top-width: 1px; 
				padding-top: .5em;
			}
		
			&:last-child { 
				border-bottom-width: 1px; 
				padding-bottom: .5em; 
			}

			a {
				display: block; 
				padding: .2em .85em; 
				color: @text; 
				position: relative; 
				z-index: 9999;
				.text-truncate ();

				&:hover { 
					background-color: @sh-back; 
					color: @text; 
					text-decoration: none; 
				}

				&.active, &.active:hover { 
					background-color: @h-back; 
					color: @h-text; 
					text-decoration: none; 
				}
			}

			&.divider { 
				height: 1em; 
				position: relative; 
				background-color: @back;

				&:after { 
					content: ""; 
					display: block; 
					width: 100%; 
					height: 1px; 
					background-color: @vague; 
					position: absolute; 
					top: 50%;
				}
			}
		}

		&:after { 
			content: ''; 
			display: block; 
			position: absolute; 
			background-color: @back; 
			border-width: 1px 1px 0 0; 
			border-color: @vague; 
			border-style: solid; 
			width: 1em; 
			height: 1em; 
			top: .5em; 
			margin-left: -.6em; 
			left: 50%; 
			background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
			background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			.rotate (-45deg);
		}
	}

	&:hover ul { display: block; }
	&:hover > a { text-decoration: underline }
}

.sub-menu {
	border-bottom: 1px solid @line;
	
	li {
		a {
			display: block; 
			padding: .2em .5em; 
			color: @text;

			&:hover, &:focus {
				background-color: @sh-back;
				text-decoration: none;
			}
		}

		&.active a, &.active a:hover, &.active a:focus {
			text-decoration: none;
			background-color: @h-back;
			color: @h-text;
		}

		&:first-child a { border-top: 1em solid @back; }
		&:last-child a { border-bottom: 1em solid @back; }
	}
}

.pagination { 
	text-align: center; 
	border-bottom: 1px solid @line; 
	.clearfix ();

	span {
		line-height: 3em;
		padding: 0 1em;
		display: inline-block;
	}

	a {
		line-height: 3em;
		padding: 0 1em;

		&.prev { 
			float: left; 
			border-right: 1px solid @line;
		}
		
		&.next { 
			float: right; 
			border-left: 1px solid @line;
		}

		&:hover {
			background-color: @h-back;
			color: @h-text;
		}
	}
}

.detail-list {
	padding: 1em; 
	.clearfix ();
	
	dd, dt { float: left } 
	dt { width: 25% }
	
	dd { 
		width: 75%;

		time, .sidenote {
			margin-left: .2em;
			font-size: .8em;
			color: @vague;
		}

	}

	.total {
	line-height: 1.25em;

		strong { font-size: 1.25em; }
	} 
}

.functions { 
	padding: 0 1em 1em; 
	border-bottom: 1px solid @line; 

	& > a { margin-right: .5em; }
}

.buttons { 
	padding: .8em 1em; 
	border-bottom: 1px solid @line; 
	text-align: center;

	button {
		margin: 0 .2em;
		padding-left: 1em;
		padding-right: 1em;
		white-space: nowrap;
	}
}

.accounts, .references { 

	h3 { 
		line-height: 2em;
		padding: 0 1em;
		background-color: @sh-back;
		color: @sh-text;
		border-bottom: 1px solid @line;
	}

	.content {
		padding: 1em;

		small { 
			color: @vague; 
		}
	}

	dt.active { line-height: 2em; }

	dd {
		position: relative;

		.empty {
			color: @vague;
			font-style: italic;
		}

		a { 
			display: none;
			font-size: .8em;
		}

		input {
			width: 100%;
		}

		.fa-remove {
			position: absolute;
			right: .5em;
			top: -.1em;
			color: @line;
			font-size: 1.3em;
			line-height: 1.9em;
			cursor: pointer;

			&:hover {
				color: @vague;
			}
		}

		&:hover a { display: inline; }
	}
}

.filters { 

	.filter {

		h3 { 
			cursor: pointer;
			line-height: 2em;
			padding: 0 1em;
			background-color: @sh-back;
			color: @sh-text;
			border-bottom: 1px solid @line;
			position: relative;
			
			i { 
				color: @line;
				font-size: .8em;
				line-height: 1em;
				position: absolute;
				top: 50%;
				right: 1em;
				margin-top: -.5em;
			}

			span {
				color: @sh-vague;
				font-weight: normal;
				font-size: .8em;

				&:hover {	text-decoration: underline; }
			}

			&:hover {
				background-color: @sh-hover;

				i { color: @sh-vague; } 
			}
		}
		
		ul { 
			list-style-type: none; 
			padding: .5em 0; 
			display: none; 
			border-bottom: 1px solid @line;
		
			li {
				position: relative;
				padding: 0 1em 0 2.25em;
				
				label { 
					display: block; 
					cursor: pointer;

					input[type="checkbox"] {
						position: absolute;
						left: 1em;
						top: 4px;
						cursor: pointer;
					}

					span {
						color: @vague;
						font-size: .8em;
					}

					i {
						display: none;
						float: right;
						color: @h-vague;
						margin-top: 1px;
					}
				}

				&:hover { 
					background-color: @sh-back;
				}

				&.disabled {
					color: @vague;
				}

				&.active { 
					background-color: @h-back;
					color: @h-text; 

					&:hover { background-color: @h-hover; }

					span { color: @h-vague }
					i { 
						display: inline; 
	
						&:hover { color: @h-text; }
					}
				}
			}
		}

		&.open {
			ul { display: block; }
		}

		&:last-child ul {
			border-bottom-width: 0;
		}
	}
}

.godzilla {
	padding-right: 1.5em;
	position: relative;

	button { 
		background-color: @back; 
		border: 3px solid @line; 
		font-size: 1.1em; 
		border-radius: 2px; 
		margin-bottom: .25em; 
		color: @text;
		cursor: pointer;
		padding: 0;

		&.cart {
			width: 100%;
			border-right-width: 1px; 

			&:hover { background-color: @b-hover; }
		}

		&.more {
			position: absolute;
			top: 0;
			right: 2px;
			width: 1.5em;
			border-left-width: 1px;
			text-align: center;

			&:hover { background-color: @b-hover; }
		}

	}

	&.single, &.adding, &.added {
		padding-right: 0;

		.cart { border-right-width: 3px; }

		.success, .success:hover, .success:focus {
			width: 100%;
			color: @b-text;
			border-right-width: 3px;
			background-color: @success;
			border-color: darken(@success, 10%);
		}
	}

	&:hover, &.active {
		button {
			border-color: @b-line;
			color: @b-text;
			background-color: @b-back;
		}  
	}

	ul { 
		position: absolute; 
		list-style-type: none;  
		background-color: @back;
		width: 20em; 
		top: 1.35em; 
		right: -.75em; 
		margin: 1em 0 0;
		border: 1px solid @vague;
		max-height: 20em;
		overflow-y: auto;
		z-index: 998;
		
		li { 
			background-color: @back; 

			&:first-child a { border-top: .5em solid @back; }
			&:last-child a { border-bottom: .5em solid @back; }
		
			&.loading { font-size: 1.75em;}

			a {
				display: block; 
				padding: .4em .5em .4em 1em; 
				color: @text;
				background-color: @back;
				position: relative; 
				border-bottom: 1px solid @line;
				z-index: 999;

				.cart-title { 
					display: block;
					font-size: 1.2em;
					white-space: nowrap;
					overflow-x: hidden;
					text-overflow: ellipsis;
				}

				.cart-quantity, .cart-price {
			  	font-size: .9em;
			  	position: relative;
			  	top: -.3em;
			  	display: inline-block;
			  	min-width: 3.5em;
			  	color: @vague;

			  	i {
			  		margin-right: .2em;
			  	}
			  }

				&:hover, &.active { 
					background-color: @sh-back; 
					color: @text; 
					text-decoration: none; 

					.cart-quantity, .cart-price {
						color: @text;
					}
				}
			}
		}
	}

	.indicator { 
		display: block; 
		position: absolute; 
		z-index: 999;
		background-color: @back; 
		border-width: 1px 1px 0 0; 
		border-color: @vague; 
		border-style: solid; 
		width: 1em; 
		height: 1em; 
		top: 1.9em; 
		right: .5em;
		background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(48%,rgba(255,255,255,0)), color-stop(48%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		.rotate (-45deg);
	}
}