.container {
	position: fixed;
	top: @h-height + 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	overflow: auto;
	.transition(left .5s ease);

	&.pinned { left: -45% }
}

.drawer {
	position: fixed;
	top: @h-height + 1px;
	right: -45.5%;
	bottom: 0;
	width: 45%;
	.transition(right .5s ease);

	&.pinned { right: 0 }

	.drawer-close {
		position: absolute;
		top: 0;
		left: 0;
		width: 2.05em;
		height: 2em;
		text-align: center;
		line-height: 2em;
		border-width: 0 0 1px 1px;
		border-style: solid;
		border-color: @d-line;
		color: @d-vague;
		cursor: pointer;

		&:hover { 
			color: @d-text;
			background-color: @d-hover; 
		}
		i { font-size: 1.2em; }
	}

	.drawer-loading {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding-top: 50%;
		text-align: center;

		i {
			font-size: 2em;
			color: @d-vague;
			margin-top: -1em;
		}
	}

	.drawer-menu {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		background-color: @d-back;
		border-left: 1px solid @d-line;
		padding-left: 2em;
		.clearfix;

		a {
			border-width: 0  0 1px 1px;
			border-style: solid;
			border-color: @d-line;
			height: 2em;
			line-height: 2em;
			display: block;
			float: left;
			width: 50%;
			color: @d-vague;
			text-align: center;

			&.active {
				background-color: @d-hover;
				color: @d-text;
			}
			
			&:hover {
				color: @d-text;
				text-decoration: none;
			}

			&:focus { 
				outline-width: 0;
				text-decoration: none;
			}
		}
	}

	.drawer-content {
		background-color: @d-back;
		border-left: 1px solid @d-line;
		position: absolute;
		top: 2em;
		bottom: 0;
		width: 100%;
		overflow: hidden;

		.no-carts {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 48% 2em 0;
			color: @d-vague;
			font-size: 1.3em;
			text-align: center;			
		}

		.drawer-container {
			position: absolute;
			top: 0;
			bottom: 2.4em;
			left: 0;
			right: 0;
			overflow: auto;
		}

		.drawer-cart {
			display: block;
			padding: .5em 1em;
			border-bottom: 1px solid @d-line;
			position: relative;
			color: @d-text;

			&:hover { background-color: @d-hover; }

			&.active { border-left: 1em solid @d-line }

			.title {
				font-size: 1.2em;
				display: block;
				color: @d-text;
				margin-right: 11em;
				.text-truncate;
			}

			.price {
				display: inline-block;
				width: 10em;
				position: absolute;
				top: .5em;
				right: 1.5em;
				text-align: right;
				line-height: 1.55em;

				strong {
					font-size: 1.2em;
				}

				&.zero {
					font-style: italic;
					color: @d-vague;
				}
			}

			.meta {
				line-height: 1.25em;
				font-size: .8em;
				margin-right: 7em;
				color: @d-vague;

				dt {
					float: left;
					width: 5em;
				}

				dd { .text-truncate; }
			}	

			.links {
				margin-top: .5em;

				a {
					font-size: .8em;
					color: @d-vague;
					margin-right: 1em;

					&:hover { 
						color: @d-text; 
						text-decoration: none;
					}	
				}
			}	

			button {
				position: absolute;
				bottom: .3em;
				right: .5em;
			}
		}
		
		.drawer-item {
			padding: .5em 1em .5em 4em;
			border-bottom: 1px solid @d-line;
			min-height: 5em;
			position: relative;

			&:hover { background-color: @d-hover; }

			.detail {
				display: block;
				color: @d-text;
				margin-right: 7em;

				img {
					width: 2.5em;
					position: absolute;
					left: 1em;
					top: .75em;
					overflow: hidden;
				}

				span {
					display: block;
					.text-truncate;
				}
			}

			.author {
				color: @d-vague;
				font-size: .8em;
				position: relative;
				top: -.25em;
			}

			.price {
				display: inline-block;
				width: 6em;
				position: absolute;
				top: .5em;
				right: 1.5em;
				text-align: right;
				line-height: 1.55em;

				&.zero {
					font-style: italic;
					color: @d-vague;
				}
			}

			.quantity {
				position: absolute;
				bottom: .5em;
				right: 1.5em;
				
				label { 
					color: @d-vague;
				}

				input {
					width: 3em;
					font-size: .8em;
				}
			}

			.title {
				position: relative;
				font-size: 1.1em;
			}

			.meta {
				line-height: 1.25em;
				font-size: .8em;
				color: @d-vague;
				margin-top: -.1em;

				dt {
					float: left;
					width: 4em;
				}
			}	

			.links {
				margin-top: .5em;

				a {
					font-size: .8em;
					color: @d-vague;
					margin-right: 1em;	

					&:hover { 
						color: @d-text; 
						text-decoration: none;
					}
				}
			}	
		}

		.drawer-bottom {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			border-top: 1px solid @d-line;

			a {
				height: 2.4em;
				line-height: 2.4em;
				display: block;
				color: @d-vague;
				text-align: center;
				background-color: @d-back;

				&:hover, &:focus {
					color: @d-text;
					background-color: @d-hover;
					text-decoration: none;
				}
			}

			&.carts-options {
				padding-left: 2.4em;
				height: 2.4em;

				.carts-search {
					position: absolute;
					top: 0;
					left: 0;
					width: 2.4em;
					height: 2.4em;
					line-height: 2.3em;
					text-align: center;
					color: @d-vague;
					cursor: pointer;
					background-color: @d-back;

					&:hover, &.active {
						color: @d-text;
						background-color: @d-hover;
					}
				}

				a {
					float: left;
					width: 50%;
					border-left: 1px solid @d-line;
					height: 2.4em;
					line-height: 2.3em;
				}

				.carts-query {

					input[type="text"] {
						width: 100%;
						height: 2.4em;
						background-color: @d-back;
						color: @d-text;
						border-width: 0 0 0 1px;
						border-color: @d-line;
						padding: 0 .8em;
					}

					.fa-remove {
						position: absolute;
						top: 0;
						right: .5em;
						height: 2.4em;
						line-height: 2.3em;
						color: @d-vague;
						cursor: pointer;

						&:hover {
							color: @d-text;
						}
					}
				}

				.carts-create {
					input[type="text"] {
						width: 80%;
						height: 2.3em;
						background-color: @d-back;
						color: @d-text;
						border-width: 0 1px 0 0;
						border-color: @d-line;
						padding: 0 .8em;
						position: absolute;
						top: 0;
						left: 0;
					}

					button {
						width: 20%;
						background-color: @d-back;
						line-height: 2.3em;
						color: @d-text;
						border-width: 0;
						padding: 0 .8em;
						position: absolute;
						top: 0;
						right: 0;

						&:hover, &:focus {
							background-color: @d-hover;
						}					
					}	

					.fa-remove {
						position: absolute;
						top: 0;
						right: 20%;
						margin-right: .5em;
						height: 2.4em;
						line-height: 2.3em;
						color: @d-vague;
						cursor: pointer;

						&:hover {
							color: @d-text;
						}
					}		
				}
			}
		}
	}

	.drawer-empty {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: @d-back;
		border-left: 1px solid @d-line;
		padding: 48% 2em 0;

		input {
			width: 100%;
			font-size: 1.3em;
		}

		button {
			float: right;
		}
	}
}