.hover-menu { 
	display: none;
	position: absolute; 
	top: @h-height / 2 + 1; 
	font-size: @f-size; 
	line-height: 1.4em; 
	padding: (@h-height / 2) 0;
	list-style-type: none; 
	z-index: 999;
	
	li { 
		border-width: 0 1px; 
		border-color: @vague; 
		border-style: solid; 
		position: relative;

		&:first-child { 
			padding-top: .5em; 
			background-color: @back; 
		}

		&:last-child { 
			padding-bottom: .5em; 
			border-bottom-width: 1px; 
			background-color: @back; 
		}
		
		&.divider { 
			height: 1em; 
			position: relative; 
			background-color: @back;

			&:after { 
				content: ""; 
				display: block; 
				width: 100%; 
				height: 1px; 
				background-color: @vague; 
				position: absolute; 
				top: 50%;
			}
		}
		
		a { 
			display: block; 
			background-color: @back; 
			padding: .2em .8em; 
			text-decoration: none; 
			color: @text; 
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&.active a, &.active a:hover, &.active a:focus {
			background-color: @h-back; 
			color: @h-text;			
		}

		a:hover, a:focus { 
			background-color: @h-back; 
			color: @h-text;
		}

		&.sub {
			.hover-menu-sub {
				display: none;
				position: absolute;
				padding: 1em;
				width: 10em;
				top: -2em;
				left: 1em;
				margin-left: -10em;
				list-style-type: none;

				li:first-child { border-top: 1px solid @vague; }
				li:last-child { border-bottom: 1px solid @vague; }
			}

			&:hover {
				
				a {
					background-color: @sh-back;
					color: @text;
				}

				.hover-menu-sub { 
					display: block; 

					li a {
						background-color: @back;
						color: @text;

						&:hover, &:focus {
							background-color: @sh-back;
							color: @text;
						}
					}

					li.active a, li.active a:hover, li.active a:focus {
						background-color: @h-back;
						color: @h-text;
					}
				}
			}
		}
	}
}

header { 
	height: @h-height + 1; 
	background-color: @h-back; 
	border-bottom: 1px solid @h-line;
	color: @h-text; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.masthead { 
	color: @h-text; 
	text-decoration: none; 
	display: block; 
	float: left; 
	height: @h-height; 
	padding: 0 .5em; 
	font-size: 1.6em; 
	line-height: @h-height - 4; 
	border-right: 1px solid @h-line; 
	background-color: @h-back;

	&:hover, &:focus { 
		background-color: @h-hover; 
		text-decoration: none;

		i { color: @h-text; } 
	}
	
	img { 
		height: 30px; 
		margin-top: .5em; 
	}

	i {
		display: inline-block;
		height: @h-height / 1.4;
		width: @h-height / 1.4;
		border-radius: (@h-height / 1.4) / 2; 	
		background-color: @h-vague;
		color: @h-text;
		font-size: .8em;
		text-align: center;
		line-height: @h-height - 15px;
	}
}

nav { 
	float: left; 
	display: block;
	height: @h-height; 
	position: relative; 
	margin-right: 1em;
	cursor: pointer;
	color: @h-vague;
	background-color: @h-back;
	padding: 0 1em; 
	font-size: 1.3em; 
	line-height: @h-height; 
	border-right: 1px solid @h-line; 

	i { 
		margin-right: .1em;
		color: @h-vague 
	}
	
	&:hover, &:focus, &.active { 
		outline-width: 0;
		background-color: @h-hover;
		color: @h-text;

		i { color: @h-text }
		
		.hover-menu { 
			display: block; 
			left: -1em; 
			min-width: 16em;
			margin-top: 0;
			
		}
	}
}

.search {
	height: @h-height;
	background-color: @h-back;
	cursor: text;
	
	label { 
		font-size: 1.5em; 
		line-height: @h-height;
		color: @h-vague; 
	}

	input { 
		background-color: transparent; 
		width: 55%; 
		height: @h-height; 
		border-width: 0; 
		font-size: 1.3em; 
		color: @h-text; 
		padding: 0 .5em; 
		position: relative;
		top: -1px;
		.placeholder (@h-vague);
	}

	&:hover, &.active {
		background-color: @h-hover;

		label { color: @h-text }
	}

	a {
		float: right;
		color: @h-vague;
		font-size: 1.5em;
		line-height: @h-height;
		cursor: pointer;
		margin-right: .75em;

		&:hover { 
			color: @h-text;
			text-decoration: none; 
		}
	}
} 

.carts { 
	float: right; 
	border-left: 1px solid @h-line; 
	background-color: @h-back;

	.cart-loading {
		height: @h-height; 
		width: 10em;
		text-align: center;
		color: @h-vague;

		i {
			font-size: 1.7em;
			line-height: @h-height;
		} 
	}

	.cart-click {
		padding: 0 2em 0 1.4em;
		height: @h-height; 
		max-width: 15em; 		
		cursor: pointer;

		&:focus { 
			background-color: @h-hover;
			outline-width: 0; 

			.cart-quantity, .cart-price, .cart-title, .no-carts { color: @h-text }
		} 

		.cart-title { 
			display: block; 
			color: @h-vague; 
			font-size: 1.2em;
			margin: 0 0 -.2em;
			padding-top: .25em; 
			font-weight: bold;
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}

		.cart-quantity, .cart-price {
			font-size: .8em;
			color: @h-vague;
			margin-right: 1em;

			i {
				margin-right: .3em;

				&.fa-shopping-cart {
					font-size: 1.2em;
				}
			}
		}

		&.no-carts { 
			padding-top: @h-height / 2;
			color: @h-vague;

			strong {
				display: block;
				font-size: 1.2em;
				line-height: 1em;
				margin-top: -.5em;
				text-align: center;
			}
		}
	}

	&:hover, &.active { 
		background-color: @h-hover; 

		.cart-quantity, .cart-price, .cart-title, .no-carts { color: @h-text }
	}
}

.user { 
	float: right; 
	height: @h-height; 
	font-size: 1.75em; 
	line-height: @h-height; 
	padding: 0 .7em; 
	border-left: 1px solid @h-line;  
	background-color: @h-back;
	
	i { color: @h-vague; }

	&:hover, &:focus { 
		background-color: @h-hover; 
		cursor: pointer; 

		i { color: @h-text }

		.hover-menu { 
			display: block; 
			right: 0; 
			min-width: 8em;
		}
	}
}

.subheader { 
	border-bottom: 1px solid @sh-line; 
	background-color: @sh-back; 
	padding: 1em; 
	text-align: center;
	color: @sh-text;

	h1 { 
		font-size: 2em; 
		line-height: 1em; 
		display: inline; 
	}
	
	span { 
		font-size: 1.4em; 
		line-height: 1em; 
		color: @sh-vague; 
		margin-left: .3em; 
	}
}