.dropdown { 
	display: none;
	position: absolute; 
	top: @h-height / 2 + 1; 
	font-size: @f-size; 
	line-height: 1.4em; 
	padding: (@h-height / 2) 0;
	list-style-type: none; 
	
	li { 
		border-width: 0 1px; 
		border-color: @vague; 
		border-style: solid; 

		&:first-child { 
			padding-top: .5em; 
			background-color: @back; 
		}

		&:last-child { 
			padding-bottom: .5em; 
			border-bottom-width: 1px; 
			background-color: @back; 
		}
		
		&.divider { 
			height: 1em; 
			position: relative; 
			background-color: @back;

			&:after { 
				content: ""; 
				display: block; 
				width: 100%; 
				height: 1px; 
				background-color: @vague; 
				position: absolute; 
				top: 50%;
			}
		}
		
		a { 
			display: block; 
			background-color: @back; 
			padding: .2em .8em; 
			text-decoration: none; 
			color: @text; 
			
			&:hover { 
				background-color: @h-back; 
				color: @h-text;
			}
		}
	}
}

header { 
	height: @h-height; 
	background-color: @h-back; 
	color: @h-text; 
	border-bottom: 4px solid @h-line; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1111;
}

.masthead { 
	color: @h-text; 
	text-decoration: none; 
	display: block; 
	float: left; 
	height: @h-height; 
	padding: 0 .5em; 
	font-size: 1.6em; 
	line-height: @h-height - 4; 
	border-right: 1px solid @h-line; 
	background-color: @h-back;

	&:hover, &:focus { 
		background-color: @h-hover; 
		text-decoration: none;

		i { color: @h-text; } 
	}
	
	img { 
		height: 30px; 
		margin-top: .5em; 
	}

	i {
		display: inline-block;
		height: @h-height / 1.4;
		width: @h-height / 1.4;
		border-radius: (@h-height / 1.4) / 2; 	
		background-color: @h-vague;
		color: @h-back;
		font-size: .8em;
		text-align: center;
		line-height: @h-height - 15px;
	}
}

nav { 
	float: left; 
	display: block;
	font-size: 1.3em; 
	line-height: @h-height; 
	padding: 0 1em; 
	border-right: 1px solid @h-line; 
	height: @h-height; 
	position: relative; 
	margin-right: 1em;
	cursor: pointer;
	color: @h-vague;
	background-color: @h-back;

	i { 
		margin-right: .1em;
		color: @h-vague 
	}
	
	&:hover, &:focus { 
		background-color: @h-hover;  
		color: @h-text;
		outline-width: 0;

		i { color: @h-text }

		.dropdown { 
			display: block; 
			left: -1em; 
			min-width: 16em;
			opacity: 1; 
			margin-top: 0;
		}
	}
}

.search {
	background-color: @h-back;
	
	label { 
		font-size: 1.5em; 
		line-height: @h-height;
		color: @h-vague; 
	}

	input { 
		background-color: transparent; 
		width: 45%; 
		height: @h-height; 
		border-width: 0; 
		font-size: 1.3em; 
		color: @h-text; 
		padding: 0 .5em; 
		.placeholder (@h-vague);
	}

	&:hover {
		background-color: @h-hover;

		label { color: @h-text }
	}

	a {
		float: right;
		color: @h-vague;
		font-size: 1.5em;
		line-height: @h-height;
		cursor: pointer;
		margin-right: .75em;

		&:hover { 
			color: @h-text;
			text-decoration: none; 
		}
	}
} 

.carts { 
	float: right; 
	height: @h-height; 
	border-left: 1px solid @h-line; 
	padding: 0 2em 0 3.5em; 
	position: relative; 
	background-color: @h-back;

	i { 
		font-size: 1.9em; 
		line-height: @h-height * .9; 
		position: absolute; 
		left: .5em; top: 0; 
		color: @h-vague;
	}

	.cart-title { 
		display: inline-block; 
		color: @h-vague; 
		font-weight: bold; 
		line-height: 1em; 
		margin-top: .6em; 
	}
	
	.cart-meta { 
		display: inline-block; 
		color: @h-vague; 
		position: relative; 
		top: -.2em; 
	}

	&:hover, &:focus { 
		background-color: @h-hover; 
		cursor: pointer; 

		i, .cart-title, .cart-meta { color: @h-text; }
	}
}

.user { 
	float: right; 
	height: @h-height; 
	font-size: 1.75em; 
	line-height: @h-height; 
	padding: 0 .7em; 
	border-left: 1px solid @h-line;  
	background-color: @h-back;
	
	i { color: @h-vague; }

	&:hover, &:focus { 
		background-color: @h-hover; 
		cursor: pointer; 

		i { color: @h-text }

		.dropdown { 
			display: block; 
			right: 0; 
			min-width: 8em;
		}
	}
}

.subheader { 
	border-bottom: 1px solid @line; 
	background-color: @sh-back; 
	padding: 1em; 
	text-align: center;

	h1 { 
		font-size: 2em; 
		line-height: 1em; 
		display: inline; 
	}
	
	span { 
		font-size: 1.4em; 
		line-height: 1em; 
		color: @vague; 
		margin-left: .3em; 
	}
}