@f-size: 16px;
@f-fam: Calibri, Verdana, sans-serif;

@link: #00F;
@text: #000;
@back: #FFF;
@line: #DDD;
@vague: #AAA;

@h-back: #006B57;
@h-line: #005242;
@h-text: #FFF;
@h-hover: #01614F;
@h-vague: darken(@h-back, 8%);
@h-height: 55px;

@sh-back: #EEE;

@cart: #0000CD;
@wish: #FFD700; 
@info: #428bca;
@success: #5cb85c;
@warn: #f0ad4e;
@danger: #d9534f;

@import 'mixins';

@import 'typography';
@import 'fonts';
@import 'components';

@import 'header';
@import 'footer';