* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: @f-fam;
}

body { 
	font-size: @f-size; 
	padding-top: @h-height;
}

a { 
	color: @link; 
	text-decoration: none; 
	
	&:hover, &:focus { 
		text-decoration: underline;
		outline-width: 0; 

		mark { color: @link }
	}
}

mark { background-color: @mark; }

#main { 

	&.left {
		border-right: 1px solid @line; 
		float: left; 
	}

	&.right {
		border-left: 1px solid @line;
		float: right;
	}
}

aside {
	position: relative;
	.clearfix;

	&.left {
		border-right: 1px solid @line; 
		float: left; 
		right: -1px; 
	}

	&.right {
		border-left: 1px solid @line; 
		float: right; 
		left: -1px; 
	}
}

footer {
	height: 10em;
}