* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: @f-fam; 
}

body { 
	font-size: @f-size; 
}

a { 
	color: @link; 
	text-decoration: none; 
	
	&:hover { 
		text-decoration: underline; 

		mark { color: @link }
	}
}

mark { background-color: @mark; }

#main { 
	border-right: 1px solid @line; 
	float: left; 
}

aside {
	border-left: 1px solid @line; 
	float: left; 
	margin-left: -1px; 
}